
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#Recipe">Recipe</a></li>
    <li><a href="#Blog">Blog</a></li>
    <li><a href="#ContactUs">ContactUs</a></li>
  </ul>

<body>

<section id="blog">
<div class="blog-header">
<div class="blog-img">
<img src="assets/homepage2.jpg">
</div>
<h1>WELCOME TO OUR GROUP'S FOOD RECIPE WEBSITE</h1>
<p class="first">Looking for a tantalizing, pleasing recipe to make your stomach happy, <br>
   leave a lasting impression with every dish that you make by experimenting <br>
   our group recipes.The recipes are here for you to have a great experience <br>
   whenever you visit here. #STOMACHMATTERS#</p>
</div>
   
<div class="food-img">
<img src="assets/Beans and plantain.jpeg"  width="300px" height="300px">
</div>
<div class="food-details">
 <p>3 cups beans</p>
 <p>1/2 cup crushed stockfish and crayfish</p>
 <p> 1 cup chopped onions</p>
 <p>3 tbs crayfish seasonig</p>
 <p>1/4 cup crayfish powder</p>
 <p> 1 cup of stock from any protein of choice</p>
 <p>Smoothly blended smoked ppepper mixture depending on <br>
    your pepper intake (scotch bonnet,tomatoes,shombo and onion)</p>
 <p>1 cup palm o</p>
 <p> 800ml water</p>
 <p> 2 plantains</p>
 <p> Sunflower or groundnut oil for frying our plantain</p>
  <br>
    <h2>PROCEDURE:</h2>
    <p> Rinse the beans in a bowl and pour them into a pressure cooker or any protein</p>
    <p> Pour the stock in, add half a cup of chopped onions and 800ml water. Ensure the <br>
    water covers and lock the pressure cooker before leaving this to cook for 40 mins</p>
    <p>Heat up the palm oil in a pot and fry your onions</p>
    <p>Add the crushed stockfish and crayfish, crayfish seasoning and crayfish powder</p>
    <p>Pour in the blended pepper mixture, stir and leave this to cook for 8 minutes. <br>
    (At this stage, you can add a protein of choice if you wish to do so)</p>
    <p>Check on the beans and take it off heat</p>
    <p>Pour the cooked beans into the pepper mixture ans combine. Once it has been well <br>
     incorporated, leave to cook on low heat for about 7-10 mins</p>
     <p>Peel your plantain and cut into any desired shape</p>
     <p>Heat up your oil and fry the  plantain on low heat</p>
     <p>Once its all done, serve and enjoy.</p>
</div>


<div class="food-img">
    <img src="assets/toast.jpeg" width="300px" height="300px">
    </div>
    <div class="food-details">
      <p>3 eggs</p>
      <p>1/4 cup milk</p>
      <p>Sliced bread</p>
      <p>Pinch of black pepper</p>
      <p>Pinch of salt</p>
      <p>1 stick butter</p>
      <p>Baked beans</p>
      <br>
      <h2>PROCEDURE:</h2>
      <p>Break the eggs in a bowl, add salt, a pinch of black pepper and <br>
      1/4 cup of milk in a bowl. Beat the eggs for a minute</p>
      <p>Heat up a pan and pour the eggs into the pan. Now proceed to add <br>
       your stick of butter into the pan. Fry eggs on low heat and scramble <br>
       them. Once this is done, take the eggs off heat and serve them in a small bowl</p>
      <p>Toast 4 slices of bread in a toaster and pour some baked beans into a small <br>
         bowl and serve the dish alongside the scrambled eggs</p>
       <p>Serve this with any beverage of choice or freshly squeezed juice</p>
    </div>

    
<div class="food-img">
    <img src="assets/Vegetable soup.jpeg" width="300px" height="300px">
    </div>
    <div class="food-details">
     <p>1 cup of palm oil</p>
     <p>1 cup onion, chopped</p>
     <p>2 tbs grounded crayfish</p>
     <p>African spinach/ Efo soko</p>
     <p>500g pre boiled chicken</p>
     <p>2 tbs crayfish seasoning</p>
     <p>Roughly blended pepper mixture(mixture of bell peppers(Tatase)), scotch bonnet <br>
      peppers, cayenne pepper(shombo), tomatoes and 1 large onion</p>
      <p>300g smoked fish</p>
      <br>
      <h2>PROCEDURE:</h2>
      <p>Heat up a cup of palm oil in pot and stir with chopped onions</p>
      <p>Pour the roughly blended pepper mixture into the pot. Ensure the peppers are <br>
        not smooth blend but rather roughly blended</p>
      <p>Season with crayfish seasoning and crayfish powder</p>
      <p>Add the smoked fish and pre boiled chicken in the stew. Stir this and leave <br>
      it cook for 15-20 minutes</p>
      <p>Cut the spinach from the stem upwards into tiny pieces and rinse it thoroughly <br>
      with hot water. Drain the spinach well in a sieve</p>
      <p>Finally add the spinach into the stew and allow it to cook for 3-4 mins</p>
      <p>Take the vegetables soup off heat and serve with swallow of choice or rice</p>
    </div>
</section>
</body>